.nav-bar {
  background-color: lightskyblue;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  text-decoration: none;
}

.smurfs {
    text-align: center;
    
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
  /* border: #30c9c9; */
}

.smurfs .smurf-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;
 
}

.smurfs h1 {
  text-align: center;
}

.Smurf {
    border: blueviolet;
    border-radius: 5px;
    box-shadow: 2px 4px 5px gray;
    width: 50%;
    height: 200px;
    margin-bottom: 30px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 500px;
  padding: 30px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

input {
  margin-bottom: 10px;
  border-radius: 3px;
  height: 20px;
  font-size: 14px;
  padding-left: 5px;
}

button {
  height: 24px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #34caca;
}
